<!DOCTYPE = html>
<html>

<head></head>

<body>


  <ul>
    <%@cards.each do |card|%>
    <li> <%=card.question%></li>
      <li><%=card.answer%></li>
      <br>
    <%end%>
  </ul>


</body>
</html>
