<!DOCTYPE = html>
<html>

<head></head>

<body>

  <a href = "/logout"><input type="submit" value="Log Out"></a>
  <h2>Available decks</h2>

    <%@deck.each do |deck|%>

    <h4>Deck Name</h4>
    <a href = '/play/<%=deck.deck_name%>'><p><%=deck.deck_name%><p></a>
      <br>
      <p><strong>Card count:</strong> <%=deck.card_count%></p>
      <br>
    <%end%>



</body>
</html>
