<html>

  <head></head>

    <body>
      <input type="submit" value="Log Out" action="/logout" method="get">
      <h2><%=@user.user_name%> </h2>

      <h3> Decks available</h3>
      <a href = "/play/<%=@deck.deck_name%>"><%=@deck.deck_name%></a>


    </body>

</html>
