<html>

  <head></head>

    <body>


      <h3> Cards</h3>
      <%@cards.each do |card|%>
      <li> <%=card.question%></li>
        <li><%=card.answer%></li>
        <br>
      <%end%>


    </body>

</html>
