<html>

  <head></head>

    <body>
      <p><%=@error%></p>
      <a href = "/logout"><input type="submit" value="Log Out"></a>
      <h3> Cards</h3>

      <form action = "/play/answer" method = "get">
      <input type="text" name="answer" placeholder="Answer?">
      <input type="submit" value="answer">
      </form>



    </body>

</html>
